# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Python:
*.py[cod]
*.so
*.egg
*.egg-info
*.ckpt.*
dist
build

# my file
*.gz
notMNIST/notMNIST_large/
notMNIST/notMNIST_small/
idea/
SAR/
BasicTest/MNIST/input_data.py
*.vsdx
events.*